<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>PicSite</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="<%= asset_path 'application.css' %>">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="<%= asset_path 'jquery-1.11.2.js' %>"><\/script>')</script>
		<script src="<%= asset_path 'application.js' %>"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Pic<span>Site</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="nav navbar-nav navbar-right">
					<% if signed_in? %>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= get_username %> <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="<%= user_path(get_username) %>">Your Profile</a></li>
								<li><a href="<%= settings_path %>">Settings</a></li>
          					</ul>
						</li>
						<li><a href="<%= signout_path %>">Sign Out</a></li>
					<% else %>
						<li><a href="<%= join_path %>">Join</a></li>
						<li><a href="<%= signin_path %>">Sign In</a></li>
					<% end %>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="alerts-container">
				<% if flash[:alert]  %><div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button><%= flash[:error]  %></div><% end %>
				<% if flash[:notice] %><div class="alert alert-info    alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button><%= flash[:notice] %></div><% end %>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
